<div class="jumbotron jumbotron-fluid jumbotron-user">
  <div class="container">
    <h1 class="display-4"><%= @user.first_name %> <%= @user.last_name %></h1>
    <p class="lead"><%= @user.description%></p>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Contact</h2>
            <p>email: <%= @user.email %> </p>
            <%= link_to "Editer vos informations personnelles", edit_user_registration_path %>
          </div>
        </div>

        <hr>

      </div>
  </div>
</div>